// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-wrapper {
	background: #990100;
}

.card-title  {
	a {
		text-decoration: none;
		color: #F6F6F6;
	}
}