// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: #E8E8E8;
	font-family: 'Titillium Web', sans-serif;
}

.nav-wrapper {
	background: #990100;
}

.card-title  {
	a {
		text-decoration: none;
		color: #F6F6F6;
	}
}

.card-action.grey.darken-4 {
	a {
		color: #333333;
	}
}